body {
  background-color: #d1fafa;
  margin: 5px;
}

.lang {
  font-family: serif;
  text-align: center;

}

h1 {
  text-align: center;
}
.projects li {
  font-size: 22px;
}

h2 {
  text-align: center;
}

.projects {
  font-family: serif;
  text-align: center;
}

img {
  width: 35%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}

.panel-title {
  font-size: 20px;
}

.about-me {
  font-family: serif;
}

.langs {
  font-size: 20px;
  font-family: sans-serif;
}
