body {
  background-color: #d1fafa;
  margin: 5px;
}

.lang {
  font-family: serif;
  text-align: center;

}

h1 {
  text-align: center;
}

h2 {
  text-align: center;
}

.projects {
  font-family: serif;
  text-align: center;
}

img {
  width: 30%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}
